* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
 outline: auto;
}

h5 {
  background-color: rgba(13, 14, 14, 0.527); 
}
.imagencarr{
  height: 40vh;
  width: 100%;

}
.imagencarr2{
  height: 40vh;
  width: 30%;
}
.card-title{
  height:4vh; 
}
.text-center2{
  height:15vh;
  text-align: center;
}
.text-centerdos{
  height:6vh;
}
.card-img-top{
  
  height: 20vh;
}
.container-fluidcard{
 width:20vw;
}

ul{
  height:80px;
}
.pcarr{
  background-color: rgba(13, 14, 14, 0.527);
}

.btn {
  height: 40px;
}
.card-img-top {
  height: 20vh;
}
.dfooter {
  background-color: rgba(233, 238, 226, 0.993);
}
.social {
  width: 2vw;
}
#tabla {
  border: solid;
  
}
#cardCont{
width:100%;
}



